@import "../base/base";

.background-header {
  width: 100%;
  background: $cor-verde;
  .container-header {
    @include containerDesktop;
    padding: 17px 0;
    .livro_de_receita {
      width: 850px;
      height: 465.841px;
      flex-shrink: 0;
      margin: 0 auto;
      background: url("../../img/header/bg_header.png") no-repeat center;
      h3 {
        font-family: Jacques Francois;
        font-size: $font-tituloTercearios;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: normal;
        padding: 60px 0;

        color: $cor-verde;
      }
      h1 {
        font-family: Jacques Francois Shadow;
        font-size: $font-tituloPrincipal;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        padding-bottom: 55px;
        line-height: normal;

        color: $cor-verde;
      }
      figure {
        width: 125.487px;
        height: 171.035px;
        flex-shrink: 0;
        margin: 0 auto;
      }
    }
  }
}

//RESPONSIVO TABLET
@media (min-width: 500px) and (max-width: 1199px) {
  .background-header {
    width: 100%;
    background: $cor-verde;
    .container-header {
      @include containerTablet;
      padding: 17px 0;
      .livro_de_receita {
        width: 85%;
        height: 340px;
        flex-shrink: 0;
        margin: 0 auto;
        background: url("../../img/header/bg-header-Tablet.png") no-repeat center;
        h3 {
          font-family: Jacques Francois;
          font-size: $font-tituloTercearios;
          font-style: normal;
          font-weight: 400;
          text-align: center;
          line-height: normal;
          padding: 40px 0;

          color: $cor-verde;
        }
        h1 {
          font-family: Jacques Francois Shadow;
          font-size: $font-tituloSecundarios;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          margin-top: -20px;
          padding-bottom: 20px;
          line-height: normal;

          color: $cor-verde;
        }
        figure {
          width: 100px;
          height: 110px;
          flex-shrink: 0;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

//RESPONSIVO MOBILE
@media (max-width: 415px) {
  .background-header {
    width: 100%;
    height: 252px;
    background: $cor-verde;
    .container-header {
      @include containerMobile;
      padding: 17px 0;
      .livro_de_receita {
        width: 98%;
        height: 211.55px;
        flex-shrink: 0;
        margin: 0 auto;
        background: url("../../img/header/bg-header-mobile.png") no-repeat center;
        h3 {
          font-family: Jacques Francois;
          font-size: ($font-paragrafos - 0.2rem);
          font-style: normal;
          font-weight: 400;
          text-align: center;
          line-height: normal;
          padding: 20px 0;

          color: $cor-verde;
        }
        h1 {
          font-family: Jacques Francois Shadow;
          font-size: ($font-tituloTercearios - 0.4rem);
          text-align: center;
          font-style: normal;
          font-weight: 400;
          margin-top: -10px;
          padding-bottom: 20px;
          line-height: normal;

          color: $cor-verde;
        }
        figure {
          width: 56.986px;
          height: 77.67px;
          flex-shrink: 0;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
