@import "../base/base";

.informacoes-container {
  @include containerDesktop;
  height: 800px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../img/informacoes/background-desktop.png") no-repeat
    center;

  .info-form {
    width: 444px;
    height: 247px;
    h3 {
      font-family: Inter;
      font-size: $font-paragrafos;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      line-height: normal;

      color: $cor-clarinho;
    }
    .tela-informacoes {
      width: 244px;
      height: 148px;
      flex-shrink: 0;
      margin: 30px auto;
      border: 3px solid $cor-amarelo-escuro;
      background: $cor-clarinho;
    }
  }
}

//RESPONSIVO TABLET
@media (min-width: 500px) and (max-width: 1199px) {
  .informacoes-container {
    width: 100%;
    height: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../img/informacoes/background-tablet.png") no-repeat
      center;

    .info-form {
      width: 300px;
      height: 247px;
      h3 {
        font-family: Inter;
        font-size: ($font-paragrafos - 0.3rem);
        text-align: center;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        color: $cor-clarinho;
      }
      .tela-informacoes {
        width: 200px;
        height: 120px;
        flex-shrink: 0;
        margin: 30px auto;
        border: 3px solid $cor-amarelo-escuro;
        background: $cor-clarinho;
      }
    }
  }
}
//RESPONSIVO MOBILE
@media (max-width: 415px) {
  .informacoes-container {
    width: 100%;
    height: 367px;
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../img/informacoes/background-mobile.png") no-repeat
      center;

    .info-form {
      width: 120px;
      height: 97px;
      h3 {
        font-family: Inter;
        font-size: ($font-paragrafos - 0.9rem);
        text-align: center;
        font-style: normal;
        font-weight: 900;
        line-height: normal;

        color: $cor-clarinho;
      }
      .tela-informacoes {
        width: 95.822px;
        height: 58.121px;
        flex-shrink: 0;
        margin: 5px auto;
        border: 3px solid $cor-amarelo-escuro;
        background: $cor-clarinho;
      }
    }
  }
}
