@import "../base/base";

.receitas {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: $cor-clarinho;
  .receitas-container {
    @include containerDesktop;
    .receitas-item {
      padding: 20px 0;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-family: Jacques Francois;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 83.333% */
        text-align: center;
        margin-bottom: 100px;

        color: $cor-verde-escuro;
      }
      #proxima {
        width: 127px;
        height: 100px;
        background: none;
        border: none;
        position: absolute;
        cursor: pointer;
        right: 8%;
      }
      #retornar {
        width: 127px;
        height: 100px;
        background: none;
        border: none;
        position: absolute;
        cursor: pointer;
        left: 8%;
      }

      .conteiner {
        width: 1080px;
        display: flex;
        margin: 0 auto;
        overflow: hidden;
        .vitrine-itens {
          display: flex;
          grid-gap: 1em;
          transition: all 1s ease-in-out;
          .itens-receita {
            width: 344px;
            height: 540px;
            display: flex;
            flex-direction: column;

            background: $cor-verde;
            figure {
              width: 344px;
              height: 319.295px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            button {
              text-align: center;
              font-family: Jacques Francois;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              padding: 36px 0 51px 0;
              cursor: pointer;
              background: none;
              border: none;
              line-height: 40px; /* 142.857% */
              text-transform: capitalize;

              color: $cor-clarinho;
              &:hover {
                @include animacao;
                animation: animaTexto 3000ms forwards ease-in;
              }
            }
            span {
              margin: 0 auto;
              text-align: center;
              position: relative;
              text-align: center;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 100% */

              color: $cor-clarinho;
            }
          }
        }
      }
    }
  }
}

//RESPONSIVO TABLET
@media (min-width: 500px) and (max-width: 1199px) {
  .receitas {
    .receitas-container {
      @include containerTablet;
      .receitas-item {
        .itens-receita-container {
          width: 708px;
          display: flex;
          margin: 0 auto;
          justify-content: space-between;
          .itens-receita:last-child {
            display: none;
          }
        }
      }
    }
  }
}

//RESPONSIVO MOBILE
@media (max-width: 415px) {
  .receitas {
    .receitas-container {
      @include containerMobile;
      .receitas-item {
        .itens-receita-container {
          width: 100%;
          .itens-receita {
            width: 48%;
            height: 300px;
            figure {
              width: 100%;
              height: 180px;
              img {
                width: 100%;
                height: 180px;
              }
            }
            button {
              text-align: center;
              font-family: Jacques Francois;
              font-size: 18px;
              font-style: normal;
              padding: 20px 0 20px 0;
              font-weight: 400;
              line-height: 20px; /* 111.111% */
            }
            span {
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
            }
          }
          .itens-receita:last-child {
            display: none;
          }
        }
      }
    }
  }
}
