//CORES DO SITE
$cor-verde: #606c5d;
$cor-verde-escuro: #293725;
$cor-clarinho: #fff4f4;
$cor-amarelo-claro: #f7e6c4;
$cor-amarelo-escuro: #f1c376;

//Fontes do site
$font-tituloPrincipal: 3.5rem;
$font-tituloSecundarios: 2.5rem;
$font-tituloTercearios: 2rem;
$font-paragrafos: 1.5rem;

// containers
@mixin containerDesktop {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin containerTablet {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin containerMobile {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

//animacoes
@mixin animacao{
    @keyframes animaTexto {
        to {
          font-size: (28px + 5px);
          color: rgba(191, 177, 15, 1);
        }
      }
      
}


//resets
html{
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
