* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.background-header {
  width: 100%;
  background: #606c5d;
}
.background-header .container-header {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 17px 0;
}
.background-header .container-header .livro_de_receita {
  width: 850px;
  height: 465.841px;
  flex-shrink: 0;
  margin: 0 auto;
  background: url("../../img/header/bg_header.png") no-repeat center;
}
.background-header .container-header .livro_de_receita h3 {
  font-family: Jacques Francois;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  padding: 60px 0;
  color: #606c5d;
}
.background-header .container-header .livro_de_receita h1 {
  font-family: Jacques Francois Shadow;
  font-size: 3.5rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 55px;
  line-height: normal;
  color: #606c5d;
}
.background-header .container-header .livro_de_receita figure {
  width: 125.487px;
  height: 171.035px;
  flex-shrink: 0;
  margin: 0 auto;
}

@media (min-width: 500px) and (max-width: 1199px) {
  .background-header {
    width: 100%;
    background: #606c5d;
  }
  .background-header .container-header {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 17px 0;
  }
  .background-header .container-header .livro_de_receita {
    width: 85%;
    height: 340px;
    flex-shrink: 0;
    margin: 0 auto;
    background: url("../../img/header/bg-header-Tablet.png") no-repeat center;
  }
  .background-header .container-header .livro_de_receita h3 {
    font-family: Jacques Francois;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding: 40px 0;
    color: #606c5d;
  }
  .background-header .container-header .livro_de_receita h1 {
    font-family: Jacques Francois Shadow;
    font-size: 2.5rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-top: -20px;
    padding-bottom: 20px;
    line-height: normal;
    color: #606c5d;
  }
  .background-header .container-header .livro_de_receita figure {
    width: 100px;
    height: 110px;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .background-header .container-header .livro_de_receita figure img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 415px) {
  .background-header {
    width: 100%;
    height: 252px;
    background: #606c5d;
  }
  .background-header .container-header {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 17px 0;
  }
  .background-header .container-header .livro_de_receita {
    width: 386px;
    height: 211.55px;
    flex-shrink: 0;
    margin: 0 auto;
    background: url("../../img/header/bg-header-mobile.png") no-repeat center;
  }
  .background-header .container-header .livro_de_receita h3 {
    font-family: Jacques Francois;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding: 20px 0;
    color: #606c5d;
  }
  .background-header .container-header .livro_de_receita h1 {
    font-family: Jacques Francois Shadow;
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-top: -10px;
    padding-bottom: 20px;
    line-height: normal;
    color: #606c5d;
  }
  .background-header .container-header .livro_de_receita figure {
    width: 56.986px;
    height: 77.67px;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .background-header .container-header .livro_de_receita figure img {
    width: 100%;
    height: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.banner-nav-container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.banner-nav-container figure {
  width: 485px;
  height: 489px;
}
.banner-nav-container figure img {
  width: 100%;
  height: 100%;
}
.banner-nav-container .livro-banner {
  width: 615px;
  height: 535px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  background: url("../../img/banner/livro-banner.png") no-repeat center;
}
.banner-nav-container .livro-banner .nav-banner {
  width: 250px;
}
.banner-nav-container .livro-banner .nav-banner h2 {
  text-align: center;
  font-family: Jacques Francois;
  font-size: 32px;
  font-style: normal;
  padding-top: 81px;
  padding-bottom: 60px;
  font-weight: 400;
  line-height: 40px; /* 125% */
  text-transform: capitalize;
  color: #293725;
}
.banner-nav-container .livro-banner .nav-banner nav {
  display: flex;
  width: 210px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}
.banner-nav-container .livro-banner .nav-banner nav ul li {
  text-align: center;
}
.banner-nav-container .livro-banner .nav-banner nav ul li a {
  font-family: Jaldi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #293725;
}
.banner-nav-container .livro-banner .nav-banner nav ul li:hover::after {
  content: "";
  width: auto;
  display: block;
  border: 1px solid #293725;
}
.banner-nav-container .livro-banner .nav-banner .busca-submit {
  display: flex;
  width: 252px;
  height: 43px;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 6.545px;
  flex-shrink: 0;
}
.banner-nav-container .livro-banner .nav-banner .busca-submit .buscar {
  background: none;
  border: 1px solid #293725;
  padding: 3px;
}
.banner-nav-container .livro-banner .nav-banner .busca-submit .btn-submit {
  text-transform: uppercase;
  padding: 2px;
  background: #606c5d;
  border: 2px solid #f1c376;
  color: #f1c376;
}
.banner-nav-container .livro-banner .sobre-banner {
  width: 240px;
}
.banner-nav-container .livro-banner .sobre-banner h3 {
  padding-top: 81px;
  font-family: Jacques Francois;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 222.222% */
  text-transform: capitalize;
  padding-bottom: 50px;
  color: #293725;
}
.banner-nav-container .livro-banner .sobre-banner p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: capitalize;
  color: #293725;
}

@media (min-width: 500px) and (max-width: 1199px) {
  .banner-nav-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
    justify-content: center;
  }
  .banner-nav-container figure {
    display: none;
  }
}
@media (max-width: 415px) {
  .banner-nav-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
    justify-content: center;
  }
  .banner-nav-container figure {
    display: none;
  }
  .banner-nav-container .livro-banner {
    width: 386.243px;
    height: 336px;
    flex-shrink: 0;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    background: url("../../img/banner/livro-banner-mobile.png") no-repeat center;
  }
  .banner-nav-container .livro-banner .nav-banner {
    width: 141px;
  }
  .banner-nav-container .livro-banner .nav-banner h2 {
    text-align: center;
    font-family: Jacques Francois;
    font-size: 32px;
    font-style: normal;
    padding-top: 30px;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: capitalize;
    color: #293725;
  }
  .banner-nav-container .livro-banner .nav-banner nav {
    display: flex;
    width: 141px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
  }
  .banner-nav-container .livro-banner .nav-banner nav ul {
    margin-top: -50px;
  }
  .banner-nav-container .livro-banner .nav-banner nav ul li {
    margin-top: -5px;
    text-align: center;
  }
  .banner-nav-container .livro-banner .nav-banner nav ul li a {
    font-family: Jaldi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    text-transform: uppercase;
    color: #293725;
  }
  .banner-nav-container .livro-banner .nav-banner nav ul li:hover::after {
    content: "";
    width: auto;
    display: block;
    border: 1px solid #293725;
  }
  .banner-nav-container .livro-banner .nav-banner .busca-submit {
    display: flex;
    width: 160px;
    height: 28px;
    padding-bottom: 0px;
    position: absolute;
    margin-left: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4.156px;
    flex-shrink: 0;
  }
  .banner-nav-container .livro-banner .nav-banner .busca-submit .buscar {
    width: 150px;
    background: none;
    border: 1px solid #293725;
    padding: 1px;
  }
  .banner-nav-container .livro-banner .nav-banner .busca-submit .btn-submit {
    text-transform: uppercase;
    padding: 1px;
    background: #606c5d;
    border: 2px solid #f1c376;
    color: #f1c376;
  }
  .banner-nav-container .livro-banner .sobre-banner {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.receitas {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: #fff4f4;
}
.receitas .receitas-container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.receitas .receitas-container .receitas-item {
  padding: 20px 0;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.receitas .receitas-container .receitas-item h2 {
  font-family: Jacques Francois;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 83.333% */
  text-align: center;
  margin-bottom: 100px;
  color: #293725;
}
.receitas .receitas-container .receitas-item .itens-receita-container {
  width: 1072px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita {
  width: 344px;
  height: 540px;
  display: flex;
  flex-direction: column;
  background: #606c5d;
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita figure {
  width: 344px;
  height: 319.295px;
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita figure img {
  width: 100%;
  height: 100%;
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita button {
  text-align: center;
  font-family: Jacques Francois;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  padding: 36px 0 51px 0;
  cursor: pointer;
  background: none;
  border: none;
  line-height: 40px; /* 142.857% */
  text-transform: capitalize;
  color: #fff4f4;
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita button:hover {
  animation: animaTexto 3000ms forwards ease-in;
}
@keyframes animaTexto {
  to {
    font-size: 33px;
    color: rgb(191, 177, 15);
  }
}
.receitas .receitas-container .receitas-item .itens-receita-container .itens-receita span {
  margin: 0 auto;
  text-align: center;
  position: relative;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  color: #fff4f4;
}

@media (min-width: 500px) and (max-width: 1199px) {
  .receitas .receitas-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container {
    width: 708px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita:last-child {
    display: none;
  }
}
@media (max-width: 415px) {
  .receitas .receitas-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container {
    width: 100%;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita {
    width: 48%;
    height: 300px;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita figure {
    width: 100%;
    height: 180px;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita figure img {
    width: 100%;
    height: 180px;
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita button {
    text-align: center;
    font-family: Jacques Francois;
    font-size: 18px;
    font-style: normal;
    padding: 20px 0 20px 0;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita span {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .receitas .receitas-container .receitas-item .itens-receita-container .itens-receita:last-child {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.informacoes-container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 800px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../img/informacoes/background-desktop.png") no-repeat center;
}
.informacoes-container .info-form {
  width: 444px;
  height: 247px;
}
.informacoes-container .info-form h3 {
  font-family: Inter;
  font-size: 1.5rem;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #fff4f4;
}
.informacoes-container .info-form .tela-informacoes {
  width: 244px;
  height: 148px;
  flex-shrink: 0;
  margin: 30px auto;
  border: 3px solid #f1c376;
  background: #fff4f4;
}

@media (min-width: 500px) and (max-width: 1199px) {
  .informacoes-container {
    width: 100%;
    height: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../img/informacoes/background-tablet.png") no-repeat center;
  }
  .informacoes-container .info-form {
    width: 300px;
    height: 247px;
  }
  .informacoes-container .info-form h3 {
    font-family: Inter;
    font-size: 1.2rem;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #fff4f4;
  }
  .informacoes-container .info-form .tela-informacoes {
    width: 200px;
    height: 120px;
    flex-shrink: 0;
    margin: 30px auto;
    border: 3px solid #f1c376;
    background: #fff4f4;
  }
}
@media (max-width: 415px) {
  .informacoes-container {
    width: 100%;
    height: 367px;
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../img/informacoes/background-mobile.png") no-repeat center;
  }
  .informacoes-container .info-form {
    width: 120px;
    height: 97px;
  }
  .informacoes-container .info-form h3 {
    font-family: Inter;
    font-size: 0.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #fff4f4;
  }
  .informacoes-container .info-form .tela-informacoes {
    width: 95.822px;
    height: 58.121px;
    flex-shrink: 0;
    margin: 5px auto;
    border: 3px solid #f1c376;
    background: #fff4f4;
  }
}/*# sourceMappingURL=style.css.map */